@import "../../../styles";

.bracket-gen {
  margin: 20px;

  padding-top: 20px;

  border-top: 3px solid $button-border-color;

  form {
    color: $text-color;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .flex {
      width: 33%;
      line-height: 47px;
      font-size: 20px;
    }

    .buttons {
      min-width: 15%;
    }

    button {
      margin-left: 6px;
    }
  }
}
