<div class="bracket-gen">
  <form [formGroup]="bracketForm">

    <input class="flex" type="text" placeholder="Bracket name" formControlName="name">

    <select required class="flex" formControlName="playerCount">
      <option value="" disabled hidden selected>Player count</option>
      <option value="2">2</option>
      <option value="4">4</option>
      <option value="8">8</option>
      <option value="16">16</option>
      <option value="32">32</option>
    </select>

    <div class="buttons">
      <button (click)="resetForm()">
        <i class="material-icons">delete</i>
      </button>
      <button (click)="addBracket()">
        <i class="material-icons">add</i>
      </button>
    </div>

  </form>
</div>
